.addMilestoneContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--neutral-surface-strong);
  margin-top: 24px;
  border: 1px solid var(--neutral-border-default);
  border-radius: var(--radius-large);
  padding: 0 32px 32px 32px;
}

.addMilestoneTitle {
  margin-top: 36px;
  font: var(--display-bold20);
  color: var(--neutral-text-strong);
}

.inputFields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.milestoneInfo {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.inputArea {
  width: 50%;
  height: 40px;
  background-color: var(--neutral-surface-bold);
  border-radius: var(--radius-medium);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
}

.tag {
  width: 64px;
  font: var(--display-medium12);
  color: var(--neutral-text-weak);
}

.inputMilestoneName,
.inputMilestoneDate {
  font: var(--display-medium16);
  color: var(--neutral-text-weak);
  flex: 1;
}

.inputDescription {
  height: 40px;
  background-color: var(--neutral-surface-bold);
  border-radius: var(--radius-medium);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
}

.inputMilestoneDescription {
  font: var(--display-medium16);
  color: var(--neutral-text-weak);
  flex: 1;
}

.buttonsInMilestone {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
}

.cancelButton,
.saveButton {
  width: 128px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font: var(--available-medium12);
  border-radius: var(--radius-medium);
}

.cancelButton {
  border: 1px solid var(--brand-text-weak);
  color: var(--brand-text-weak);
}

.cancelIcon {
  width: 16px;
  height: 16px;
  mask-image: url("../../assets/icons/xSquare.svg");
  mask-size: cover;
  background-color: var(--brand-text-weak);
}

.buttonText {
  padding: 0 4px;
}

.saveButton {
  background-color: var(--brand-surface-default);
  color: var(--brand-text-default);
  opacity: 32%;
}

.saveIcon {
  width: 16px;
  height: 16px;
  mask-image: url("../../assets/icons/plus.svg");
  mask-size: cover;
  background-color: var(--brand-text-default);
}

.active {
  opacity: 100%;
}

.editMilestoneContainer {
  border: none;
  border-radius: 0;
  margin-top: 0;
}
