.wrapper {
  background-color: var(--neutral-surface-bold);
  border-radius: 16px;
  padding: 16px 16px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  font: var(--display-medium16);
}

.focused {
  background-color: var(--neutral-surface-strong);
  border: 1px solid var(--neutral-border-default-active);
}

.textarea {
  height: 100%;
  background: transparent;
  border: none;
  resize: vertical;
  outline: none;
  font: var(--display-medium16);
  color: var(--neutral-text-strong);
}

.textarea::placeholder {
  font: var(--display-medium16);
  color: var(--neutral-text-weak);
}

.footer {
  height: 52px;
  border-top: 1px dashed #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.attach {
  display: flex;
  gap: 4px;
  font: var(--available-medium12);
  cursor: pointer;
  padding: 10px 16px;
  height: 32px;
  align-items: center;
}

.fileText {
  font: var(--available-medium12);
  color: var(--neutral-text-default);
}

.fileIcon {
  width: 16px;
  height: 16px;
  background-color: var(--neutral-text-default);
  mask-image: url("../../assets/icons/paperclip.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
}

.fileList {
  font: var(--available-medium12);
  color: var(--neutral-text-default);
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.fileItem {
  padding: 4px 8px;
  background-color: var(--neutral-surface-bold);
  border: 1px solid var(--neutral-border-default-active);
  border-radius: 8px;
}
