.wrapper {
  background-color: var(--neutral-surface-bold);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  font: var(--display-medium16);
}

.focused {
  background-color: var(--neutral-surface-strong);
  border: 1px solid var(--neutral-border-default-active);
}

.textarea {
  background: transparent;
  border: none;
  resize: vertical;
  min-height: 120px;
  outline: none;
  font-size: 14px;
  color: #4a4a4a;
  font-family: inherit;
}

.textarea::placeholder {
  font: var(--display-medium16);
  color: var(--neutral-text-weak);
}

.footer {
  border-top: 1px dashed #c0c0c0;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.attach {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  cursor: pointer;
}

.fileText {
  font: var(--available-medium12);
  color: var(--neutral-text-default);
}

.fileIcon {
  width: 16px;
  height: 16px;
  background-color: var(--neutral-text-default);
  mask-image: url("../../assets/icons/paperclip.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
}
