.filtersContainer {
  display: flex;
  flex-direction: column;
  width: 288px;
  font: var(--available-medium16);
  color: var(--neutral-text-default);
}

.filterBox {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--neutral-border-default);
  background-color: var(--neutral-surface-strong);
  padding: 32px;
}

.filterButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filterButtonTitle {
  position: relative;
}

.plusIcon {
  width: 16px;
  height: 16px;
  background-image: url("../../assets/icons/plus.svg");
  background-size: cover;
}

.activeFilter {
  position: absolute;
  left: 50%;
}

.selectedList {
  width: 244px;
  display: flex;
  flex-direction: column;
  font: var(--display-medium12);
  color: var(--neutral-text-strong);
  margin-top: 16px;
  gap: 16px;
}

.selectedAsignees {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.selectedLabelList {
  width: 244px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  font: var(--display-medium12);
  color: var(--neutral-text-strong);
  margin-top: 16px;
}

.selectedItem {
  display: inline-block;
}

.selectedLabelItem {
  height: 24px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-radius: var(--radius-large);
  flex-wrap: wrap;
}
