.milestoneContainer {
  border: 1px solid var(--neutral-border-default);
  border-radius: var(--radius-large);
  margin-top: 24px;
  overflow: hidden;
}

.milestoneHeader {
  height: 64px;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: var(--neutral-surface-default);
  padding-left: 32px;
}

.milestoneList {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--neutral-border-default);
}

.milestoneItem {
  height: 104px;
  background-color: var(--neutral-surface-strong);
  border-top: 1px solid var(--neutral-border-default);
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.milestoneBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.milestoneInfo {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.milestoneTitle {
  display: flex;
  gap: 8px;
  align-items: center;
}

.milestoneIcon {
  width: 16px;
  height: 16px;
  mask-image: url("../assets/icons/milestone.svg");
  mask-size: cover;
  background-color: var(--palette-blue);
}

.milestoneTitleText {
  font: var(--available-medium16);
  color: var(--neutral-text-strong);
}

.milestoneDueDate {
  display: flex;
  gap: 8px;
}

.calendarIcon {
  width: 16px;
  height: 16px;
  mask-image: url("../assets/icons/calendar.svg");
  mask-size: cover;
  background-color: var(--neutral-text-weak);
}

.endDateText {
  font: var(--display-medium12);
  color: var(--neutral-text-weak);
}

.milestoneDescription {
  font: var(--display-medium16);
  color: var(--neutral-text-weak);
}

.milestoneMetaData {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rightButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 24px;
}

.closedMilestoneButton,
.editButton,
.deleteButton {
  height: 32px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.closedIcon {
  width: 16px;
  height: 16px;
  mask-image: url("../assets/icons/archive.svg");
  mask-size: cover;
  background-color: var(--neutral-text-default);
}

.closedText,
.editText {
  font: var(--available-medium12);
  color: var(--neutral-text-default);
}

.editIcon {
  width: 16px;
  height: 16px;
  mask-image: url("../assets/icons/edit.svg");
  mask-size: cover;
  background-color: var(--neutral-text-default);
}

.deleteIcon {
  width: 16px;
  height: 16px;
  mask-image: url("../assets/icons/trash.svg");
  mask-size: cover;
  background-color: var(--danger-text-default);
}

.deleteText {
  font: var(--available-medium12);
  color: var(--danger-text-default);
}

.progressIndicator {
  width: 244px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.progressBar {
  width: 100%;
  height: 8px;
  background-color: rgba(239, 240, 246, 1);
  border-radius: var(--radius-medium);
  overflow: hidden;
}

.filled {
  height: 100%;
  background-color: rgba(0, 122, 255, 1);
}

.textRow {
  font: var(--display-medium12);
  color: var(--neutral-text-weak);
  display: flex;
  justify-content: space-between;
}

.meta {
  display: flex;
  gap: 8px;
}
